@import "tailwindcss";

:root {
  --background: #F5F5F6;
  --color: #938278;
}

@theme inline {
  --color-background: var(--background);
  --color-color: var(--color);
  --font-atomic: var(--font-atomic-age)
  --font-sans: var(--font-nunito-sans);
}


body {
  background: var(--background);
  color: var(--color);
  font-family:  var(--font-sans), sans-serif;
}

/* Flex col class */
.flex-col-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Yellow backgrud */
.yellow-bg{
  background-color: #E7A61C;
  color: #FFFFFF;
}