@import "tailwindcss";

:root {
  --background: #F5F5F6;
  --color: #938278;
}

@theme inline {
  --color-background: var(--background);
  --color-color: var(--color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--color);
  font-family:  Helvetica, sans-serif;
}
